# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
python/
venv/
.env

# Distribution / Builds
dist/
build/
*.egg-info/
365_배포용/

# IDEs
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
*.log
